<div class="md-padding" layout="column">
  <p class="inset" layout layout-align="center center">
    Select an option
  </p>
  <div layout="row" flex-sm="100" flex="33" layout-align="center center">
    <non-lineal-menu></non-lineal-menu>
    <lineal-menu></lineal-menu>
    <interpolation-menu></interpolation-menu>
  </div>

  <div layout layout-align="center center">
    <md-button ng-click="home.toggleInfo()">Info</md-button>
  </div>

  <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="info">
    <md-toolbar class="md-theme-light">
      <h1 class="md-toolbar-tools">Info</h1>
    </md-toolbar>
    <md-content class="md-padding" layout-padding>
      <p>
        Numerical analysis is the study of algorithms that use numerical approximation
        (as opposed to general symbolic manipulations)
        for the problems of mathematical analysis (as distinguished from discrete mathematics).
      </p>
      <md-button ng-href="https://en.wikipedia.org/wiki/Newton%27s_method" target="_blank">
        Learn more
      </md-button>
      <md-button ng-click="home.closeInfo()" class="md-primary">
        Got it
      </md-button>
    </md-content>
  </md-sidenav>
</div>
