<div class="md-padding" layout="column">
  <p class="inset" layout layout-align="center center">
    Select a method
  </p>
  <div layout="row" flex-sm="100" flex="33" layout-align="center center">
    <md-menu md-offset="0 -5">
      <md-button class="md-raised" aria-label="Open menu" ng-click="home.openMethodsMenu($mdOpenMenu, $event)">
        Non-lineal
      </md-button>
      <md-menu-content width="5">
        <md-menu-item>
          <md-button ui-sref="methods.non-lineal.bisection">Bisection</md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ui-sref="methods.non-lineal.false-position">False position</md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ui-sref="methods.non-lineal.newton">Newton</md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ui-sref="methods.non-lineal.secant">Secant</md-button>
        </md-menu-item>
          <md-menu-item>
              <md-button ui-sref="methods.non-lineal.fixedPoint">Fixed Point</md-button>
          </md-menu-item>
      </md-menu-content>
    </md-menu>
    <md-menu md-offset="0 -5">
      <md-button class="md-raised" aria-label="Open menu" ng-click="home.openMethodsMenu($mdOpenMenu, $event)">
        Lineal
      </md-button>
      <md-menu-content width="4">
        <md-menu-item>
          <md-button ui-sref="methods.lineal.jacobi">Jacobi</md-button>
          <md-button ui-sref="methods.lineal.sor">S.O.R</md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>

  <div layout layout-align="center center">
    <md-button ng-click="home.toggleInfo()">Info</md-button>
  </div>

  <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="info">
    <md-toolbar class="md-theme-light">
      <h1 class="md-toolbar-tools">Info</h1>
    </md-toolbar>
    <md-content class="md-padding" layout-padding>
      <p>
        Numerical analysis is the study of algorithms that use numerical approximation
        (as opposed to general symbolic manipulations)
        for the problems of mathematical analysis (as distinguished from discrete mathematics).
      </p>
      <md-button ng-href="https://en.wikipedia.org/wiki/Newton%27s_method" target="_blank">
        Learn more
      </md-button>
      <md-button ng-click="home.closeInfo()" class="md-primary">
        Got it
      </md-button>
    </md-content>
  </md-sidenav>
</div>
