<div class="md-padding">
  <p class="inset" layout layout-align="center center">
    Calculate stuff!
  </p>

  <md-input-container flex>
    <label>Function</label>
    <input ng-model="home.fn">
  </md-input-container>
  <md-input-container flex>
    <label>Value of x</label>
    <input ng-model="home.x">
  </md-input-container>
  <div layout="row" layout-wrap>
    <md-button class="md-raised md-primary" flex ng-click="home.evaluate()">
      Evaluate
    </md-button>
  </div>
  <div layout layout-align="center center">
    <md-button ng-click="home.toggleInfo()">Info</md-button>
  </div>

  <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="info">
    <md-toolbar class="md-theme-light">
      <h1 class="md-toolbar-tools">Info</h1>
    </md-toolbar>
    <md-content class="md-padding" layout-padding>
      <p>
        Numerical analysis is the study of algorithms that use numerical approximation
        (as opposed to general symbolic manipulations)
        for the problems of mathematical analysis (as distinguished from discrete mathematics).
      </p>
      <md-button ng-href="https://en.wikipedia.org/wiki/Numerical_analysis" target="_blank">
        Learn more
      </md-button>
      <md-button ng-click="home.closeInfo()" class="md-primary">
        Got it
      </md-button>
    </md-content>
  </md-sidenav>
</div>
