<div class="md-padding" layout="column">
    <h2 class="md-title">Secant</h2>
     <form name="paramsForm" ng-submit="secantCtrl.Calculate()">
        <md-input-container flex>
            <label>Function</label>
            <input required name="fn" ng-model="secantCtrl.func">
            <div ng-messages="paramsForm.fn.$error">
                <div ng-message="required">This is required.</div>
            </div>
        </md-input-container>
    <div layout="row">
      <md-input-container flex>
        <label>Value of a</label>
        <input required name="a" ng-model="secantCtrl.a">
        <div ng-messages="paramsForm.a.$error">
          <div ng-message="required">a is required.</div>
        </div>
      </md-input-container flex>
      <md-input-container flex>
        <label>Value of b</label>
        <input required name="b" ng-model="secantCtrl.b">
        <div ng-messages="paramsForm.b.$error">
          <div ng-message="required">b is required.</div>
        </div>
      </md-input-container>
    </div>
    <div layout="row">
      <md-input-container flex>
        <label>Maximum itereations</label>
        <input name="nmax" ng-model="secantCtrl.nmax">
        <div ng-messages="paramsForm.a.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
      <md-input-container flex>
        <label>Tolerance (optional)</label>
        <input name="tol" ng-model="secantCtrl.tol">
      </md-input-container>
      <md-input-container flex>
        <label>Delta (optional)</label>
        <input name="delta" ng-model="secantCtrl.delta">
      </md-input-container>
    </div>
    <div layout="row" layout-wrap>
      <md-button class="md-raised md-primary" flex type="submit">
        Evaluate
      </md-button>
    </div>
     </form>

    <div layout="column" flex-sm="100" flex="33" layout-align="center center">
      <non-lineal-menu fn="secantCtrl.func">
    </div>
  <div ng-show="secantCtrl.arrx.length > 0">

    <md-data-table-toolbar>
    <h2 class="md-title">Results</h2>
    </md-data-table-toolbar>
    <md-data-table-container>
    <table md-data-table md-progress="deferred">
      <thead>
        <tr>
          <th>i</th>
          <th>x</th>
          <th>f(x)</th>
          <th>Error</th>
        </tr>
      </thead>
      <tr ng-repeat="x in secantCtrl.arrx track by $index">
        <td>{{$index}}</td>
        <td>{{x}}</td>
        <td>{{secantCtrl.arrf[$index]}}</td>
        <td>{{secantCtrl.arrError[$index]}}</td>
      </tr>
    </md-data-table-container>
    </table>
	</div>
</div>
